
.details{
    display: -moz-inline-grid;
}
.details_card{
    text-align: center;
    margin-right: 500px;
    margin-top: 40px;
    margin-left: 500px;
}
button{
    margin-right: 10px;
    margin-bottom: 100px;
    font-family: fantasy;
    width: 100px;

}
h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: xx-large;
 background: radial-gradient(red, yellow, rgb(30, 144, 255));
 
}

.delete{
    background-color: red;
}
.edit{
    background-color: rgb(229, 255, 0);
}

