nav{
    background-color: rgba(223, 226, 47, 0.993);
    text-align: center;
    margin-bottom: 25px;
}
button{
    margin-right: 60px;
    margin-bottom: 30px;
    margin-top: 40px;
    border-radius: 5px;
    color: rgb(252, 179, 21);
    background-color: blue;

}