form{
    margin-bottom: 250px;
    margin-top: 30px;
    display: inline-flex;
    margin-left: 200px;
}
button{
    margin-left: 20px;
    font-size: x-large;
}
input{
    margin-left: 20px;
    margin-right: 20px;
}