.fondo{
    background-color: rgb(7, 248, 176);
    font-family: fantasy;
}

.container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 45px;
    
}
img{
    width: 500px;
    margin-left: 380px;
    margin-top: 50px;
}