.card{ 
    background-color: rgb(151, 224, 14);
    list-style: none;
  padding: 20px;
  color: rgb(28, 28, 31);
  text-align: center;
  border-left: 82px;
  border-radius: 3%;
  display: flex;
  box-shadow: 11px 15px 25px 3px #000000;
  flex-direction: column;
  margin: 40px 5px;
  width: 140px;
  scale: 0, 5;
  padding: 1px 10px 0px 0px;
  margin-left: 30px;
  margin-right: 60px;
}
img{
    width: 85%;
    height: 85%;
    

    }
.container{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 45px;
    
}
.img_clase{
    padding: auto;
    width: 153px;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;

}
.card_center{
   
    margin-top: 20px;
}