.datos{
    background-color: rgb(230, 248, 166);
    list-style: none;
    padding: 0px 20px 15px 25px;
    color: rgb(28, 28, 31);
    text-align: center;
    border-radius: 5%;
    display: inline-grid;
    box-shadow: 11px 15px 25px 3px #000000;
    margin: 40px 5px;
    width: 140px;
    align-items: baseline;
    justify-items: center;
    margin-right: 60px;
}

img{
    width: 100%;
    margin-bottom: 15px;

    }
   

    
    